<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.tyn.bnk.persistence.SimpleMapper">

	<select id="justSelect" resultType="map">
		 select
		 	 b_num
		 	,m_id
		 	,b_want
		 	,b_regdate
		 	,b_stock
		 	,b_name
		 	,b_writer
		 	,b_pub
		 	,b_content
		 	,b_iscomplete
		 	,b_photo
		 from 
		 	 tbl_book
	</select>
	
	

</mapper>